h1.galeryHeader {
  font-size: 2.25rem;
}

.galleryWrapper {
  width: 100%;
  max-width: 1120px;
  margin-top: 3rem;
  .galleryContainer {
    padding: 1.5rem;
    display: grid;
    gap: 1.75rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #f4f4f4;
    @media only screen and (max-width: 950px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media only screen and (max-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: 450px) {
      grid-template-columns: 1fr;
    }
    .galleryCard {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 1rem;
      position: relative;
      box-shadow: 0px 1px 4px #bab9b9;
      .heartIcon {
        position: absolute;
        right: 10px;
        top: 10px;
        filter: drop-shadow(0px 0px 3px #000);
        &:hover {
          transform: scale(1.25);
          transition: transform 0.5s ease-in-out;
        }
      }
    }
  }
}
